* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

img{
    height: 350px;
    margin-left: 550px;
    margin-top: 25px;
}

.wrapper {
    max-width: 705px;
    background: rgb(98, 217, 80);
    margin: 50px auto;
    border-radius: 7px;
    padding: 28px 0 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
  
.task-input {
    position: relative;
    height: 52px;
    padding: 0 25px;
}

.task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 25px;
    border-radius: 4px;
    padding: 0 20px 0 7px;
    border: 3px solid rgb(11, 11, 11);
}
  
.task-input input:focus,
.task-input input.active {
    padding-left: 7px;
    border: 3px solid rgb(78, 78, 78);
}
  
.task-input input::placeholder {
    color: #c1bcbc;
}
  
.controls,
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.controls {
    padding: 18px 25px;
    border-bottom: 3px solid #ccc;
}
  
.filters span {
    margin: 0 8px;
    font-size: 20px;
    color: #444444;
    cursor: pointer;
}
  
.filters span:first-child {
    margin-left: 0;
}
  
.filters span.active {
    color: rgb(78, 78, 78);
}
  
.clear-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(242, 22, 29);
    color: white;
    pointer-events: none;
    font-size: 20px;
    cursor: pointer;
}
a:hover{
    color: rgb(11, 50, 226);
}

.clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
}
  
.clear-btn:active {
    transform: scale(0.93);
}
.clear-btn:hover{
    background: linear-gradient(to bottom,  #000000 0%, #000000 100%);
}

.task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}
  
.task-box.overflow {
    overflow-y: auto;
    max-height: 300px;
}
  
.task-box::-webkit-scrollbar {
    width: 5px;
}
  
.task-box::-webkit-scrollbar-track {
    background: rgb(78, 78, 78);
    border-radius: 25px;
}
  
.task-box::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}
  
.task-box .task {
    list-style: none;
    font-size: 20px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
}
  
.task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
  
.task-box .task label {
    display: flex;
    align-items: flex-start;
}
  
.task label input {
    margin-top: 7px;
    accent-color: rgb(9, 66, 199);
}
  
.task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
}
  
.task label p.checked {
    text-decoration: line-through;
}
  
.task-box .settings {
    position: relative;
}
  
.settings :where(i, li) {
    cursor: pointer;
}
  
.settings .task-menu {
    position: absolute;
    right: -5px;
    bottom: -65px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    z-index: 10;
}
  
.task-box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
}
  
.task-box .task:first-child .task-menu {
    bottom: -65px;
    transform-origin: top right;
}
  
.task-menu.show {
    transform: scale(1);
}
  
.task-menu li {
    height: 25px;
    font-size: 26px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
}
  
.task-menu li:last-child {
    margin-bottom: 0;
}
  
.settings li:hover {
    background: #000;
}
  
.settings li i {
    padding-right: 8px;
}
  
@media (max-width: 400px) {
    body {
      padding: 0 10px;
    }
    .wrapper {
      padding: 20px 0;
    }
    .filters span {
      margin: 0 5px;
    }
    .task-input {
      padding: 0 20px;
    }
    .controls {
      padding: 18px 20px;
    }
    .task-box {
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
    }
    .task label input {
      margin-top: 4px;
    }
}
